

.red{
	background-color: #E25102;
}

.gray{
	background-color: #E99161;
}

.skyblue{
	background-color: #E99161;
}

.first{

	border: 2px solid #fff;
	height: 200px;
	text-align: center;

}

.second{

	border: 2px solid #fff;
	height: 200px;
	text-align: center;
}
.third{

	border: 2px solid #fff;
	height: 200px;
	text-align: center;
}





